{{ define "main" }}
<img src= {{ "home.jpg" }} />
<section>
    <h3 class = "text-center">categories</h2>
</section>
<section class="row flex-center flex-spaces" >
    {{ range .Site.Taxonomies.categories }}
    
    {{- $cardImage := resources.Get (printf "%s.jpg" (.Page.Title|urlize)) -}}
    {{ $payload :=(dict 
        "cardPhoto" $cardImage 
        "cardTitle" (pluralize .Page.Title) 
        "cardSubTitle" .Count 
        "cardLink" .Page.RelPermalink 
        "cardLinkText" "view recipes" )}}
    {{ partial "card.html" $payload }}
    {{ end }}
</section>
{{ end }}


