{{define "main" }}
<section>
    <h1>Index</h1>
    <ul>

{{range .Site.Taxonomies.categories}}
<h2>{{.Page.Title}}</h2>
<ul>
{{range .}}
    <li>
        <a href ="#{{.Page.Title | urlize}}">{{.Page.Title}}</a>
    </li>
{{end}}
</ul>
{{end}}
</section>

{{range .Site.Taxonomies.categories}}
<section><h1>{{.Page.Title}}</h2></section>
{{range .}}
<article>
    <h2>
        <a id="{{.Page.Title | urlize}}">{{.Page.Title}}</a>
        {{.Page.Params.tags}}
    </h2>
    {{.Page.Content}}
</article>
{{end}}
{{end}}
{{end}}

